/* Elem */
body {
    background-color: #1A1B40;
    color: #fff;
    font: 300 12px 'Yantramanav', sans-serif;
    position: relative;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
a:any-link {
    color: white;
}
a:-moz-any-link {
    color: white;
}
a:-webkit-any-link {
    color: white;
}

::-webkit-scrollbar {
    background-color: #313368;
}
::-webkit-scrollbar-thumb {
    background-color: #131430;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}


/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 100%;
    background-color: #131430;
    position: fixed;
    top: 0;
    z-index: 100;
}
nav h2 {
    font-size: 18px;
    margin-left: 70px;
}
nav span {
    font-weight: bold;
}
nav ul {
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 70px;
}
nav li {
    cursor: pointer;
    padding: 7px;
    transition: all 0.3s ease-out, background-color 0.15s;
}
nav li:hover {
    background-color: #313368;
    color: #cccccc;
    transform: translateY(-2px);
}
nav li:active {
    background-color: #7171ac;
}

.container {
    width: 100%;
    height: 100%;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

header {
    margin-top: 55px;
    position: relative;
}

header, section {
    scroll-snap-align: start;
    scroll-margin-top: 55px;
    height: calc(100vh - 55px);
    width: 100%;
}

footer {
    position: absolute;
    bottom: 7px;
    right: 7px;
    padding: 5px 7px;
    width: fit-content;
    background-color: #1a1b40a1;
    color: #ffffffa9;
    font-size: 10px;
}

/* IDs Classes */

/* ABOUTME */

#aboutme {
    height: 75vh;
    width: 75vw;
    background-color: #1A1B40;
    display: flex;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 3;
    align-items: center;
    padding: 0 40px;
}
#mepic {
    height: 80%;
}
#description {
    padding-left: 30px;
    align-self: start;
    margin-top: 65px;
    font-size: 18px;
}
#description h2 {
    font-size: 50px;
    font-weight: bold;
}
#description h3 {
    margin-top: 30px;
    font-size: 23px;
    font-weight: 400;
}
#description h3 span {
    font-weight: 200;
    font-style: italic;
    font-size: 18px;
    color: #bebebe;
}
#description ul {
    display: flex;
    gap: 5px;
}
#description li {
    position: relative;
}
#description li span {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    color: rgba(255, 255, 255, 0);
    font-weight: 400;
    transition: transform 0.5s, color 0.3s;
    z-index: -1;
}
#description li:hover span {
    transform: translateY(33px);
    color: #fff;
}
#description li img {
    width: 80px;
    cursor: pointer;
    transition: transform 0.5s ease-out;
}
#description li:hover img {
    transform: translateY(-3px);
}
#aboutme-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/background/4.jpg);
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* PROJECTS */

#projects {
    height: calc(100vh - 55px);
    display: flex;
    justify-content: center;
}
#projects h2 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
}

/* CONTACT */

#contactme {
    height: calc(100vh - 55px);
    width: 100%;
    position: relative;
}
#contactform {
    height: 75vh;
    width: 35vw;
    background-color: #1A1B40;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 3;
    padding: 0 90px;
    font-size: 35px;
    font-weight: bold;
}
#contactform h2 {
    margin: 40px 0 15px 0;
    border-bottom: 3px solid #313368;
    width: fit-content;
    line-height: 35px;
}
#contact-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/background/3.jpg);
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: absolute;
}
.itemform {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.itemform input {
    height: 40px;
    padding: 0 5px;
}
.itemform textarea{
    height: 120px;
    resize: none;
    padding: 5px 5px;
}
.itemform textarea, .itemform input {
    width: calc(100% - 10px);
    font: 200 18px 'Yantramanav', sans-serif;
    border: none;
    border-bottom: 3px solid #313368;
    background-color: #131430;
    color: #fff;
}
.itemform input:focus, .itemform textarea:focus {
    outline: none;
}
.itemform input::placeholder, .itemform textarea::placeholder {
    font-style: italic;
    color: #ffffff5d;
}
.itemform input:focus::placeholder, .itemform textarea:focus::placeholder {
    color: transparent;
}
input[type="submit"] {
    width: 80px;
    height: 35px;
    align-self: end;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 600;
    transition: all 0.5s, background-color 0.3s;
}
input[type="submit"]:focus, input[type="submit"]:hover {
    color: #adadad;
    background-color: #313163;
    transform: translateY(-2px);
}
input[type="submit"]:active {
    background-color: #8687b8;
}