/* Elem */
body {
    background-color: #1A1B40;
    color: #fff;
    font: 300 12px 'Yantramanav', sans-serif;
    position: relative;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
a:any-link {
    color: white;
}
a:-moz-any-link {
    color: white;
}
a:-webkit-any-link {
    color: white;
}

::-webkit-scrollbar {
    background-color: #313368;
}
::-webkit-scrollbar-thumb {
    background-color: #131430;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}


/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.8vw;
    width: 100%;
    background-color: #131430;
    position: fixed;
    top: 0;
    z-index: 100;
    overflow: hidden;
}
nav h2 {
    font-size: 1.5vw;
    margin-left: 6vw;
}
nav span {
    font-weight: bold;
}
nav ul {
    font-size: 1vw;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin-right: 6vw;
}
nav li {
    padding: 0.7vw;
    transition: transform 0.3s ease-out, background-color 0.15s;
}
nav li:hover {
    background-color: #313368;
    color: #cccccc;
    transform: translateY(-0.1vw);
}
nav li:active {
    background-color: #7171ac;
}

.container {
    width: 100%;
    height: 100%;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

header {
    margin-top: 3.8vw;
    position: relative;
}

header, section {
    scroll-snap-align: start;
    scroll-margin-top: 3.8vw;
    height: calc(100vh - 3.8vw);
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0.5vw;
    right: 0.5vw;
    padding: 0.4vw 0.6vw;
    width: fit-content;
    background-color: #1a1b40a1;
    color: #ffffffa9;
    font-size: 0.9vw;
}

/* IDs Classes */

/* ABOUTME */

#aboutme {
    height: 75vh;
    width: 75vw;
    background-color: #1A1B40;
    display: flex;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 3;
    align-items: center;
    padding: 0 3vw;
}
#mepic {
    height: 80%;
}
#description {
    padding-left: 3vw;
    align-self: start;
    margin-top: 4vw;
    font-size: 1.4vw;
    overflow-x: auto;
    overflow-y: hidden;
}
#description h2 {
    font-size: 3vw;
    font-weight: bold;
}
#description h3 {
    margin-top: 1.5vw;
    font-size: 2vw;
    font-weight: 400;
}
#description h3 span {
    font-weight: 200;
    font-style: italic;
    font-size: 1.4vw;
    color: #bebebe;
}
#description ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
}
#description li {
    position: relative;
}
#description li span {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    color: rgba(255, 255, 255, 0);
    font-weight: 400;
    transition: transform 0.5s, color 0.3s;
    z-index: -1;
}
#description li:hover span {
    transform: translateY(88%);
    color: #fff;
}
#description li img {
    width: 6vw;
    cursor: pointer;
    transition: transform 0.5s ease-out;
}
#description li:hover img {
    transform: translateY(-9%);
}
#aboutme-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/background/4.jpg);
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* PROJECTS */

#projects {
    height: calc(100vh - 3.8vw);
    display: flex;
    justify-content: center;
}
#projects h2 {
    font-size: 4vw;
    font-weight: bold;
    margin-top: 1vw;
}

/* CONTACT */

#contactme {
    height: calc(100vh - 3.8vw);
    width: 100%;
    position: relative;
}
#contactform {
    height: 75vh;
    width: 35vw;
    background-color: #1A1B40;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 3;
    padding: 0 6vw;
    font-size: 3vw;
    font-weight: bold;
}
#contactform h2 {
    margin: 3vw 0 1.2vw 0;
    border-bottom: 0.25vw solid #313368;
    width: fit-content;
    line-height: 2.4vw;
}
#contact-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/background/3.jpg);
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: absolute;
}
.itemform {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.8vw;
}
.itemform input {
    height: 2.8vw;
    padding: 0 0.6vw;
}
.itemform textarea{
    height: 8vw;
    resize: none;
    padding: 0.6vw 0.6vw;
}
.itemform textarea, .itemform input {
    width: calc(100% - 1.2vw);
    font: 200 1.5vw 'Yantramanav', sans-serif;
    border: none;
    border-bottom: 0.25vw solid #313368;
    background-color: #131430;
    color: #fff;
}
.itemform input:focus, .itemform textarea:focus {
    outline: none;
}
.itemform input::placeholder, .itemform textarea::placeholder {
    font-style: italic;
    color: #ffffff5d;
}
.itemform input:focus::placeholder, .itemform textarea:focus::placeholder {
    color: transparent;
}
input[type="submit"] {
    width: 6.5vw;
    height: 3vw;
    align-self: end;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 600;
    transition: transform 0.5s, background-color 0.3s;
}
input[type="submit"]:focus, input[type="submit"]:hover {
    color: #adadad;
    background-color: #313163;
    transform: translateY(-2px);
}
input[type="submit"]:active {
    background-color: #8687b8;
}